<head>
    <meta charset="UTF-8">
     <title>d-archives - Archives of danielftosta176.cf</title>
     <link rel="stylesheet" href="style.css">
     <meta name="keywords" content="danielftosta176, dot.cf, danielftosta, 176cf, 176, Team176, Google, Chrome, Google Meet, Meet, Authenticgames, baixamemoria, dream, carrossel">
     <meta name="description" content="d-archives.cf - files of danielftosta176.cf and other">
<script>
 setTimeout( function() {
    document.getElementById("changing").innerHTML = "Checking VPN"
 }, 200)

 setTimeout( function() {
    document.getElementById("changing").innerHTML = "Checking proxy"
 }, 900)
 
 setTimeout( function() {
    document.getElementById("changing").innerHTML = "Press OK to proceed"
 }, 1400)

 setTimeout( function() {
   alert("PRESS OK OR THIS DONT WILL PROCEED, proxy checker")
 }, 1550)

 setTimeout( function() {
    document.getElementById("changing").innerHTML = "Validating..."
 }, 1670)

 setTimeout( function() {
    document.getElementById("changing").innerHTML = "2+8 is:"
    document.getElementById("titleofload").innerHTML = "Please enter the captcha"
 }, 1770)


 function Submit() {
   if (document.getElementById("captcha").placeholder === "Press enter to continue") {
      window.location.href = "loaded"
   } else {
  if (document.getElementById("captcha").value === "") {
    alert("Empty");
  } else {
   if (document.getElementById("captcha").value === "10") {
   document.getElementById("changing").innerHTML = ""
   document.getElementById("titleofload").innerHTML = "You dont a alt!"
   document.getElementById("captcha").placeholder = "Press enter to continue"
   document.getElementById("captcha").value = ""
}}
}}

</script>
</head>

<div class="altcheck">
    <h1 id="titleofload">Checking if you are a Alt</h1>
    <p id="changing">Loading...</p>
    <input id="captcha" class="inputcaptha"/>
    <a id="insert" class="captchabtn" onclick="Submit()" type="submit">Enter</a>
</div>
<div data-load="loading">

</div>
