body {
    font-family: Roboto;
}

.altcheck {
    position: fixed; 
    top: 120px;
    text-align: center;
}

.inputcaptha {
    border: #cecece solid 1px;
}

.captchabtn {
    background-color: #555555;
    border: none;
    color: white;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

[data-load] {
    width: 5em;
    height: 5em;
    border-radius: calc(5 / 16 * 1rem);
    position: relative;
    cursor: wait;
    overflow: clip;
    contain: content;
}

[data-load="loaded"] {
    cursor: auto;
}

[data-load]::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    aspect-ratio: 1 / 1;
    background-color: dodgerblue;
}

[data-load="loaded"]::before {
    animation: explode 0.2s linear;
}

[data-load="loaded"]::after {
    display: none;
}

[data-load="loading"]::after {
    content: "";
    position: absolute;
    left: calc(50% - (0.75em / 2));
    top: calc(50% - (0.75em / 2));
    width: 0.75em;
    height: 0.75em;
    background-color: #1e90ff;
    border-radius: 50%;
    display: block;
    animation: wiggle 0.3s linear infinite alternate;
}

@keyframes wiggle {
    0%,
    20% {
        transform: translatex(-1em) scalex(1);
        animation-timing-function: ease-in;
        color: #ff0000;
    }

    50% {
        transform: translatex(0) scalex(2);
        animation-timing-function: ease-out;
        color: #00ff00;
    }

    80%,
    100% {
        transform: translatex(1em) scalex(1);
        color: #1e90ff;
    }
}

@keyframes explode {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
