<head>
    <meta charset="UTF-8">
     <title>d-archives - Archives of danielftosta176.cf</title>
     <link rel="stylesheet" href="style.css">
     <meta name="keywords" content="danielftosta176, dot.cf, danielftosta, 176cf, 176, Team176, Google, Chrome, Google Meet, Meet, Authenticgames, baixamemoria, dream, carrossel">
     <meta name="description" content="d-archives.cf - files of danielftosta176.cf and other">
</head>

<div class="ctn">
    <h1>danielftosta176 archives</h1>
    <p>Running on <span style="color: #00ff00;">d-archives.cf</span> and your ip is: <span id="ip" style="color: #ff0000;">000.000.000.000</span> </p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Index of /</h1>
<ul>
    <li><img src="assets/folder.png" class="folder-icon"><a href="img/" class="folder-a">/img/</a></li>
    <li><img src="assets/folder.png" class="folder-icon"><a href="" class="folder-a">/</a></li>
    <li><img src="assets/folder.png" class="folder-icon"><a href="" class="folder-a">/</a></li>
    <li><img src="assets/folder.png" class="folder-icon"><a href="" class="folder-a">/</a></li>
    <li><img src="assets/folder.png" class="folder-icon"><a href="" class="folder-a">/</a></li>
</ul>
