body {
    font-family: Roboto;
    color: #ffffff;
    background-color: #343434;
}

.ctn {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #484848;
}

hr {
    border: #ffffff 1px solid;
}

.folder-icon {
    max-width: 18px;
}

.folder-a {
    color: #00ffff;
}